:root {
  --purple-color-gradient: linear-gradient(
    80deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
//********* class styles **********//
.bg-purple {
  background: var(--purple-color-gradient);
}

.text-purple {
  color: hsl(237, 63%, 64%);
}

.bold {
  font-weight: 700;
}

//******** class styles **********//

body,
html {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-size: 15px;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-top.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-color: rgb(247, 247, 255);
}

.pricing-toggler-section {
  z-index: 100;
  padding: 4em 0 2em 0;
  .app-title {
    font-size: 2.5em;
  }
  .switch label input[type="checkbox"]:checked + .lever {
    background: var(--purple-color-gradient);
    height: 20px;
  }
  .switch label input[type="checkbox"]:checked + .lever:after,
  .switch label .lever:after {
    background-color: white;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 2px;
    margin-left: 1.65px;
  }

  .switch label .lever {
    background: var(--purple-color-gradient);
    height: 20px;
  }
  .switch {
    input:hover,
    .lever:hover {
      opacity: 0.7;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .my-card {
    margin: 1em 0;
    border-radius: 0.5em;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(211, 211, 211);
    -moz-box-shadow: 0px 0px 10px 0px rgb(211, 211, 211);
    box-shadow: 0px 0px 10px 0px rgb(211, 211, 211);
    .card-content {
      width: 350px;
      background-color: white;
      padding: 2em;
      border-radius: 0.5em;
      .card-title {
        font-size: 2em;
      }
      .pricing {
        font-size: 3em;
      }
      button {
        width: 290px;
        height: 45px;
      }
    }
    .my-card:nth-of-type(2) {
      hr {
        color: white;
        background-color: white;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("../images/bg-top.svg"),
      url("../images/bg-bottom.svg");
    background-position: right top, bottom left;
    background-repeat: no-repeat, no-repeat;
    .pricing-toggler-section {
      padding: 2em 0 1em 0;
    }
    main {
      flex-direction: row;
      justify-content: center;
      .my-card:nth-of-type(1) {
        border-radius: 0.5em 0 0 0.5em;
        padding: 0 1em;
      }
      .my-card:nth-of-type(2) {
        padding: 2em 1em;
      }
      .my-card:nth-of-type(3) {
        border-radius: 0 0.5em 0.5em 0;
        padding: 0 1em;
      }
    }
  }
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .my-card:nth-of-type(2) p,
  .my-card:nth-of-type(2) h1 {
    color: black;
  }
  .my-card:nth-of-type(2) button {
    color: rgb(38, 166, 154);
  }
  .my-card:nth-of-type(2) {
    background-color: white;
  }
}

@media (min-width: 1200px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  main {
    position: relative;
    left: -6em;
  }
}
